.footer-cont{
    color: white;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.row1, .row2{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: row;
}

.col11{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.col2 .each-service{
    margin-top: 1rem;
    font-size: 1.2rem;
}


.footer-cont .row2{
    border-top: 2px solid white;
    margin-top: 2rem;
    padding-top: 1rem;
    font-size: 1rem;
}
.col1-each{
    padding-bottom: 1rem;
}
.address{
    font-size: 1.25rem;
    margin-top: 1.75rem;
}



.find-heading{
    font-size: 1.1rem;
}

.title-name{
    font-size: 1.75rem;
}