.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  z-index: 100;
  top: 0;
  height: fit-content;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav a{
  font-size: 1.1rem;
  padding-top: 0.5rem;
  font-weight: bold;
}


.header .nav-btn{
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  color: white;
  opacity: 0;
  font-size: 2rem;
  padding-left: 1rem;
}




@media only screen and (max-width : 1024px) {
    
  .header .nav-btn{
      visibility: visible;
      opacity: 1;
      
  }

  .logo-cont{
    width: fit-content;
  }
  .header .nav{
      position: fixed;
      top: 0;
      left: 0;
      height: 30%;
      width: 100%;
      display: flex;
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: rgba(255, 255, 255, 1);
      z-index: 100;
      transition: 1s;
      transform: translateY(-100vh)      
  }

  .header .responsive_nav{
      transform: none;
  }

  .nav .nav-close-btn{
      position: absolute;
      top: 0.1rem;
      right: 3rem;
      color: black;
  }
  .nav a{
      font-size: 1rem;
      margin: 3rem 1rem 0;
      font-size: 0.8em;
      font-weight: bold;
  }
  .abt{
    padding-left: 0;
  }
}